@charset "utf-8";
/* CSS Document */

section.add-sec {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0px;
    margin-bottom: 20px;
}
section.slct-cat {
    float: left;
    width: 100%;
    background: #fff;
    padding: 40px 0px;
}
section.sub-cat {
    background: url(../images/parten.png);
    float: left;
    width: 100%;position: relative;
    background-color: #fdfdfd;
    padding: 40px 0px;
    border-top: 4px solid #77b921;
}
.absolute-div {
    height: 126px;
    width: 42px;
    position: absolute;
    background: red;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translate(-100px, -100%);
}
.funkyradio.sub-cat1 {
    background: #fff7f1;
    padding: 0px 20px 20px;
    margin-top: 30px;    box-shadow: 0 0 5px 5px #ffe8d7;
}
.funkyradio.sub-cat2 {
    background: #f7ffec;
    padding: 0px 20px 20px;
    margin-top: 30px;    box-shadow: 0 0 5px 5px #c9dab1;
}
.info-box a {
    display: inline-block;
    float: right;
    margin-right: 15px;
    color: #ee7009;
}
.info-box p {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 20px;
}
.info-box {
    border: 1px solid #ee7009;
    padding:14px;
    margin-top: 40px;
}
.info-box i.fa.fa-info {
    background: #ee7009;
    width: 47px;
    text-align: center;
    color: #fff;
    height: 52px;
    line-height: 46px;
    margin: -14px;
    font-size: 27px;
}	
input.file-clicker {
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    margin-top: 20px;
    z-index: 999999999999999;
}
.secker {
    float: left;
    width: 244px;
    height: 144px;
    background: #c2c2c2;
    border: 4px solid #fff;
}
.uploader-outer {
    max-width: 244px;
    display: inline-block;
}
input.awesome {
    cursor: pointer;
    position: absolute;
    left: 4px;
    background:#ee7009;
    border: 0px;
    color: #fff;
    max-width: 239px;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    border-radius: 0px;
    margin-top: 20px;
    z-index: 0;
}
	.upr-boncer {
    position: relative;
    float: left;
    width: auto;
    max-width: 244px;
}	
.ad-submit {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.ad-submit .form-control:focus {
    border: 1px solid #ee7009;
}
.form-group.fix-100 {
    width: 100%;    text-align: center;
}
.form-group.fix-100 label {
    float: left;
    width: 100%;
}
section.add-sec select.form-control {
    margin-top: 30px;
}
.ad-submit select.form-control {
    margin-top: 0px !important;
}
input.my-check {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.btn-success {
    background: #77b921 !important;
}
input.sbmt-btn {
    background: #ee7009;
    color: #fff;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    max-width: 150px;
    width: 100%;
}

/***********************************/
 .funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}
.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #77b921;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    background: #fff;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #77b921;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #ee7009;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #ee7009;
    border: 1px solid #ee7009;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #ee7009;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.ad-submit .form-control {
    border-radius: 0;
    box-shadow: none;
}
.ad-disc{
    background-color: #ffe8d5;
    color: #383838;
    padding: 20px;
    margin: 30px 0px;
    font-size: 16px;
    border-top: 4px solid #ee7009;
}
.form-group.text-center .btn-group span {
    float: left;
    margin-left: 8px;
    line-height: 24px;
    margin-top:5px;
    display: inline-block;
}
.form-group.text-center .btn-group label span {
    float: left;
    margin-left: 0;
    line-height: 24px;
    margin-top:0px;
}
.btn-group label.btn.btn-sm.btn-success {
    border-radius: 0px !important;
}

@media (max-width:767px){
.info-box a {
    width: auto;
    text-align: center;
    float: none;
}
	.info-box i.fa.fa-info {
    height: auto;
    line-height: 59px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;    margin: 0;
}
	.info-box {text-align: center;
    position: relative;
    float: left; padding-left: 30px;
    width: 100%;
}
	.form-group.text-center .btn-group span {
    width: 90%;
}
}
@media (max-width:480px){
.form-group.text-center .btn-group span {
    width: 84%;
}
}